
body {
    font-family: Georgia, sans-serif;
	background-color: #0492c2;
}


header h1{
	text-align: center;
	font-size: 20px;
	clear: both;
}

header p{	
   text-align: center;
   width: 300px;
}

header img{
	display: block;
	margin: 0 auto;
}



header li{
	list-style-type: none;
	padding-right: 10px;	
	background-clip: padding-box;
	font-size: 30px;
	text-align: right;
}

header p{
	float: left;	
}

nav a:link{
	color: black;
	font-family: Georgia;
	text-decoration: none;
}

nav a:visited{
    text-decoration: none;
	color: black;
}

nav a:hover{
	background-color: #ffae01;
}

hr{
	clear: both;
}


article#home p{
	width: 35%;
	height: 25%;
	overflow: auto;
	font-family: Arial;
	float: left;
	margin: auto;
	border-collapse: collapse;
	background-clip: content-box;
}

article#home h3{
	text-align: center;
}

article img{
	width: 400px;
	height: 200px;
	box-sizing: border-box;
	float: left;
}

div.video{
	text-align: center;
}


nav#menu li{
	padding-bottom: 10px;
	text-decoration: underline;
}

footer {
	padding-top: 20px;
	font-size: 10px;
}

article#safety-measures h3{
	text-align: center;
	text-decoration: underline;
}

article#safety-measures li{
	font-family: Arial;
}

article#safety-measure{
	background-color: #7CB9E8;
}

article#important-links h3{
	text-align: center;
}

article#important-links a:link{
    color:black;
}

article#important-links a:visited{
	text-decoration:none;
	color:black;
}

article#important-links a:hover{
	background-color: #ffae01;
}

article#pinatubo h3{
	text-align: center;
}

article#pinatubo p{
	font-family: Arial;
}

article#pinatubo div.info{
	width: 45%;
	float: left;
}

article#pinatubo img{
    display: inline-block;
	margin: 0 auto;
}


article#pinatubo div.images	{
	padding-left: 200px;
	padding-top: 10px;
	width: 500px;
	display: inline-block;
	transform: rotate(10deg);
}

article#pinatubo div.images p{
	text-align: justify;
	font-family: Georgia;
}

article#pinatubo div.images p.first{
	padding-left: 150px;
}

article#pinatubo div.images p.second{
	padding-left: 120px;
}

article#mayon h3{
	text-align: center;
}

article#mayon div.info{
	width: 45%;
	float: left;
}

article#mayon img{
    display: inline-block;
	margin: 0 auto;
}

article#mayon div.images {
	padding-left: 200px;
	padding-top: 30px;
	width: 400px;
	display: inline-block;
	transform: rotate(5deg);
}

article#mayon div.images p{
	text-align: justify;
	font-family: Georgia;
}

article#mayon div.images p.first{
	padding-left: 150px;
}

article#mayon div.images p.second{
	padding-left: 110px;
}

article#taal h3{
	text-align: center;
}

article#taal p{
	font-family: Arial;
}

article#taal div.info{
	width: 45%;
	float: left;
}

article#taal img{
    display: inline-block;
	margin: 0 auto;
}

article#taal div.images{
	padding-left: 200px;
	padding-top: 30px;
	width: 400px;
	display: inline-block;
	transform: rotate(5deg);
}

article#taal div.images p.first{
	font-family: Georgia;
	padding-left: 150px;
}

article#taal div.images p.second{
	font-family: Georgia;
	padding-left: 120px;
}

footer li{
	list-style: none;
	padding-top: 5px;
}

footer li.twitter{
	background: url('../images/twitter_colored.png') no-repeat;
	width: 33px;
	height: 33px;
}

footer li.twitter a:hover{
	background: url('../images/twitter_gray.png') no-repeat;
	width: 33px;
	height: 33px;
}

footer li.github{
	background: url('../images/github_colored.png') no-repeat;
	width: 33px;
	height: 33px;
}

footer li.github a:hover{
	background: url('../images/github_gray.png') no-repeat;
	width: 33px;
	height: 33px;
}

footer li.email{
	background: url('../images/email_colored.png') no-repeat;
	width: 33px;
	height: 33px;
}

footer li.email a:hover{
	background: url('../images/email_gray.png')no-repeat;
	width: 33px;
	height: 33px;
}

footer li, footer a {
	height: 44px;
	display: block;
}

footer h5{
	font-size:15px;
}



